@model EntitiyLayer.Concreate.Category
@{
    Layout = null;
}
@*<div style="width:1200px;margin:auto;height:100%;margin-top:50px">
        <h1>Yeni Kategori Ekleme Sayfası</h1>
        <br />
        <form class="form-group" method="post">
            <input type="text" placeholder="Kategori Adı" class="form-control" name="CategoryName" />
            <br />
            <input type="text" placeholder="Kategori Açıklama" class="form-control" name="CategoryDescription" />
            <br />
            <button class="btn btn-primary">Ekle</button>
        </form>
    </div>*@


@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adi")
        @Html.TextBoxFor(m => m.CategoryName)
        @Html.ValidationMessageFor(m => m.CategoryName)
        <br />
        <br />
        @Html.Label("Açıklama Giriniz")
        @Html.TextBoxFor(m => m.CategoryDescription)
        @Html.ValidationMessageFor(m=>m.CategoryDescription)
        <br />
        <br />
        <button class="btn btn-primary">Kaydet</button>
    </div>
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />