@using EntitiyLayer.Concreate
@model List<Heading>

@{
    ViewBag.Title = "HeadingsInCategories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ string color = "";}
@{ string status = "";}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <div style="width:1200px;margin:auto;height:100%">
        <br />
        <a href="/AdminCategory/Index/" class="btn btn-danger">Geri Dön</a>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Başlık İşlemleri</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects" style="text-align:left">
                        <thead>
                            <tr>
                                <th style="width: 1%">
                                    #
                                </th>
                                <th style="width: 20%">
                                    Başlık Adı
                                </th>
                                <th style="width: 10%">
                                    Oluşturan Yazar
                                </th>
                                <th style="width: 5%">
                                    Durum
                                </th>
                                <th style="width: 1%">
                                    Kategori
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Category.CategoryName == "Tiyatro")
                                {
                                    color = "badge badge-warning";
                                }
                                if (item.Category.CategoryName == "Spor")
                                {
                                    color = "badge badge-success";
                                }
                                if (item.Category.CategoryName == "Yazılım")
                                {
                                    color = "badge badge-secondary";
                                }
                                if (item.Category.CategoryName == "Seyehat")
                                {
                                    color = "badge badge-info";
                                }
                                if (item.Category.CategoryName == "Dizi")
                                {
                                    color = "badge badge-danger";
                                }
                                if (item.Category.CategoryName == "Film")
                                {
                                    color = "badge badge-primary";
                                }
                                if (item.Category.CategoryName == "Kitap")
                                {
                                    color = "badge badge-dark";
                                }
                                if (item.HeadingStatus == true)
                                {
                                    status = "Aktif";
                                }
                                else
                                {
                                    status = "Pasif";
                                }

                                <tr>
                                    <td>
                                        @item.HeadingID
                                    </td>
                                    <td>
                                        <a>
                                            @item.HeadingName
                                        </a>
                                        <br />
                                        <small>
                                           Oluşturulma Tarihi: @(((DateTime)item.HeadingDate).ToString("dd MMM yyy"))
                                        </small>
                                    </td>
                                    <td>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                @item.Writer.WriterName @item.Writer.WriterSurname
                                            </li>
                                        </ul>
                                    </td>
                                    <td>@status</td>
                                    <td class="project-state">
                                        <span class="@color">@item.Category.CategoryName</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
    </div>
</body>
</html>

