@model EntitiyLayer.Concreate.Heading

@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<div style="width:1200px;margin:auto;height:100%">


    <h2>Başlık Güncelleme Sayfası</h2>
    @using (Html.BeginForm("EditHeading", "WriterPanel", FormMethod.Post))
    {
        <div class="form-group">
            <br />
            @Html.HiddenFor(m => m.HeadingID, new { @class = "form-control", @readonly = true })
            @*@Html.HiddenFor(m => m.HeadingDate)*@
            @Html.HiddenFor(m => m.WriterID)
            @Html.Label("Başlık Adı")
            @Html.TextBoxFor(m => m.HeadingName, new { @class = "form-control" })
            <br />
            @Html.Label("Kategori")
            @Html.DropDownListFor(m => m.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
            <br />
            <a href="/WriterPanel/MyHeading/" class="btn btn-danger">Geri Dön</a>
            <button class="btn btn-success">Güncelle</button>
        </div>
    }

</div>

